header {
  position: relative; /* Add this to ensure .header-right is positioned relative to header */
  width: 100%;
  display: flex;
  justify-content: space-between; /* This separates the title and .header-right */
  align-items: center;
  padding: 10px 20px; /* Adjust as needed */
  background-color: #b8ccf4; /* Example background color */
}


.shopping-cart img {
  padding-top: 15px;
  width: 70px; /* Adjust based on your icon size */
  height: auto; /* Maintain aspect ratio */
}


.shopping-cart:hover .shopping-list {
  display: block; /* Show the list on hover */
}

.cart-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.checkout-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
}