.orders-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.orders-table th, .orders-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.orders-table th {
    background-color: #f4f4f4;
}

.orders-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.orders-table tr:nth-child(even) {
    background-color: #ffffff;
}

.orders-table ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.orders-table ul li {
    padding: 2px 0;
}
